.scene-box{
  height: 100%;
  width: calc(100% - 5px);
  /* margin: 5px; */
  padding:10px;
}

#root.dark-mode .ant-empty-description {
  color: var(--dark-text);
}

/* Old styling to cleanup */
.stage-content {
  height: 100%;
  width: 100%;
  color: rgb(0, 0, 0);
  border: rgba(33, 35, 48, 0.90);
  background-color: var(--scene-node-bg, rgb(221, 235, 217));
  border-radius: var(--app-radius);
  border-style: double;
  border-width: 6px;
}

.stage-name {
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 5.25px;
  margin-left: 12px;
  margin-right: 12px;
  overflow: hidden;
}

.node-header {
   border-bottom: 2px solid black
}

.node-attribute-icons {
  z-index: 10;
  overflow: hidden;
  height: 26.5px;
  max-width: 90px;
  margin-top: 3px;
  margin-left: 4px;
}

.node-controll-button-holder {
  position: absolute;
  display: block;
  margin-top: 4px;
  margin-right: 3px;
  top: 5px;
  right: 5px;
  z-index: 20;
}

.graph-data-field {
  padding: 5px;
}
